.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 70px;
}

.grid-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background: linear-gradient(to right, #888384, #e2e0e0); /* Gradient background */
  padding: 10px;
  border-radius: 10px;
}

.grid-row {
  display: flex;
}

.grid-cell {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
}

.grid-cell.selected {
  background-color: #00ff00; /* Green background for selected cells */
}

.app2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.p1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 31%); 
  width:30% ;
  background-color: #b8b5b645;
};

h1{
  color:#0e8cf3
}

.p1 p {
  margin: 0;
  padding: 0;
  letter-spacing: 15px;
  font-size: 20px;
  font-weight: 600;
  color:#0e8cf3 ;
}
